

<ion-content class="ion-padding">

  <ion-grid  style="height: 100%;">
  <ion-row    style="height: 100%;">
  
        
  <ion-col size="12">
  
  <div  #mapa  [ngStyle]="{
    'height': '100%',
    'width': '100%'
  }" class="mapa"></div>
  
  </ion-col>
  
  
             
  
  
  </ion-row>
  </ion-grid>
  
  </ion-content>
  

  <ion-button (click)="getCurrentLocation()"  style="position: absolute; bottom: 2rem;right: 1rem;width: 100px;height: 100px" fill="clear">
    <img  style="width: 100px;height: 100px;" [src]="next" alt="">
  </ion-button>
  

  
<ion-button (click)="checkoutIntructions()"  style="position: absolute; bottom: 2rem;left:  1rem; width: 100px;height: 100px;" fill="clear" >
  <img  style="width: 100px;height: 100px;" [src]="img" alt="">
</ion-button>

