
  <ion-toolbar>
 <ion-label class="ion-margin ion-text-uppercase ion-text-wrap">Checkout Instructions</ion-label>
  </ion-toolbar>

<ion-content class="ion-padding">

<ion-grid >
  <ion-row>

    <ion-col size="12" >
<ion-label>
  
  In order to finish your order please use the search bar to find your address then use the pin to set your actual location or simply click on my current location button 

</ion-label>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-fab  (click)="cerrarModal()" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button  color="danger">
    <ion-icon  name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

