<ion-header class="mobile-header" class="ion-no-border ion-hide-md-up">

  <ion-toolbar>
    <ion-buttons slot="start">
<ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>

  </ion-toolbar>
</ion-header>
<ion-toolbar translucent>
  <ion-row class="header ion-align-items-center">

    <ion-col size="1">
      <ion-avatar  style="height: 30px;width: 30px;" class="ion-margin">
        <img src="assets/img/store.svg">
      </ion-avatar>
  
    </ion-col>
  <ion-col size="6" class="ion-text-left">
  <h3><strong>Carnivorous Magic</strong></h3>
  </ion-col>
  <ion-col size="5" style="display: flex;justify-content:end">
    <ion-buttons >
      <ion-button  style="height:40px;width:50px ;">
      <ion-avatar  style="height:40px;width:40px ;">
        <img style="height:35px;width:35px ;" src="assets/img/facebook.svg" />
      </ion-avatar>
      </ion-button>
      <ion-button  style="height:40px;width:50px ;">
        <ion-avatar  style="height:40px;width:40px ;">
          <img style="height:35px;width:35px ;" src="assets/img/whatsapp.svg" />
        </ion-avatar>
        </ion-button>
    </ion-buttons>
  </ion-col>
  </ion-row>
</ion-toolbar>
