<ion-header class="mobile-header" class="ion-no-border ion-hide-md-up">

  <ion-toolbar>
    <ion-buttons slot="start">
<ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-row class="header ion-align-items-center">

  <ion-col size="2">
    <ion-avatar  style="height: 30px;width: 30px;" class="ion-margin">
      <img src="assets/img/store.svg">
    </ion-avatar>
 
  </ion-col>
  <ion-col size="8" class="ion-text-left">

    <ion-button fill="clear" color="dark" routerLink="/" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}">
      Home
     </ion-button>


<ion-button fill="clear" color="dark" routerLink="/store" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}">
  Store
 </ion-button>


 <ion-button fill="clear" color="dark" routerLink="/track-order" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}">
  Track Order
 </ion-button>


<ion-button fill="clear" color="dark" routerLink="/about" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}">
  About
 </ion-button>


  </ion-col>

</ion-row>