
<ion-content  class="ion-padding">
  <ion-grid >

    <ion-row style="margin-top: 2rem;">
      <ion-col size="12">

        <ion-slides [options]="sliderOpts" class="preview-slides">
          <ion-slide *ngFor="let p of products | async">

            <ion-card mode="ios" class="ion-text-center">
              <img class="card-img" [src]="p.image" tappable (click)="openPreview(p.image)">
              <ion-card-content>
              <ion-label>
                {{p.title.substring(0,15)}}...
                <p>
                  {{p.price | currency:'USD'}}
                </p>
              </ion-label>
              </ion-card-content>
            </ion-card>
       
          </ion-slide>
        </ion-slides>

      </ion-col>
    </ion-row>
   
  </ion-grid>
  </ion-content>
  <ion-fab   vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button  color="dark">
      <ion-icon  name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  