
  <ion-toolbar>
    <ion-title>Delivery Details</ion-title>
  </ion-toolbar>


<ion-content class="ion-padding">

  <ion-grid >
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-label position="stacked">First Name</ion-label>
       <ion-input placeholder="Name"></ion-input>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input placeholder="Last Name"></ion-input>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-label position="stacked">Phone</ion-label>
        <ion-input placeholder="Phone"></ion-input>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="Email"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea placeholder="Notes"></ion-textarea>
      </ion-col>
     
  
  
      <ion-col size="12" >
        <ion-button  class="ion-margin"  expand="block"  color="dark">
   Complete my order
        </ion-button>
  
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab  (click)="cerrarModal()" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button  color="danger">
    <ion-icon  name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

