
<ion-content class="ion-padding">
<ion-grid >
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="10" size-lg="8" size-xl="6">

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
      
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
      
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
      
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
      
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
      
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
      
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
      
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque ea deserunt consequatur culpa! Ipsa dignissimos, soluta fugit blanditiis delectus nisi rerum autem enim nostrum repudiandae alias saepe deleniti reiciendis!
    </ion-col>
    
  </ion-row>
</ion-grid>
</ion-content>
