<ion-content force-overscroll="false">
  <ion-content force-overscroll="false">
<div class="container">
    <video autoplay loop muted src='assets/videos/video.mp4' >
    </video>
  <div class="pagina-centrada">
    <div class="contenido">
      <h1>Carnivorous Magic</h1>
      <h5>Plantas Carnivoras y Mas</h5>
      <div class="botonContenedor">
      
      </div>
    </div>
  </div>
</div>

<ion-row style="margin-top: 5rem;">
    <ion-col size="12" class="ion-padding">
        <h3 class="ion-text-uppercase">Productos Nuevos</h3>
    </ion-col>
    <ion-col size="12" class="ion-padding">
      <ion-fab-button   size="small"  color="dark"   class="custom-button" style="position: absolute;top: 50%;left: 1rem;z-index: 2;"  (click)="slidePrev()" >
        <ion-icon  size="large"  name="chevron-back-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button  size="small" color="dark" class="custom-button" style="position: absolute;top: 50%;right:1rem;z-index: 2;" (click)="slideNext()" >
        <ion-icon  size="large" name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
      <ion-slides  mode="ios" [options]="sliderOpts" class="preview-slides">
        <ion-slide *ngFor="let p of storeService.products">

          <ion-card mode="ios" class="ion-text-center">
            <img  class="card-img"  src="{{p.product_details[0].images.length > 0 ?  imageURL+ p.product_details[0].images[0].image : 'assets/img/no-image.png' }}"   onerror="this.src='assets/image.svg'"  tappable (click)="openPreview(p.image)" >

  
            <ion-card-content>
            <ion-label>
              {{p.name}}...
              <p>
                {{p.product_details[0].selling_price| currency:'₡'}}
              </p>
            </ion-label>
     
            </ion-card-content>

            <ion-fab-button  size="small" color="primary" style="position:absolute;top:0;right:0;" (click)="addToCart(p)">
              <ion-icon  name="add-outline"></ion-icon>
            </ion-fab-button>


          </ion-card>
     
        </ion-slide>
      </ion-slides>

    </ion-col>
  </ion-row>
 
  </ion-content>
  
  <ion-fab *ngIf="storeService.myShoppingCart.length > 0" (click)="shoppingCart()"  style="margin-top: 2rem;"  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button  color="dark">
      <ion-icon size="large"  name="cart-outline"></ion-icon>
      
    </ion-fab-button>
    <ion-badge style="position: absolute;top: -10px;left: -20px;" color="primary" mode="ios">{{storeService.myShoppingCart.length}}</ion-badge>
  </ion-fab>
  